.card {
    width: 300px;
	color:white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    font-family: "Roboto";
    padding: 15px;
    background:black;
    img {
        width: 100%;
        object-fit: cover;
    }
    .card__info {
        .card__title {
            margin: 0;
            font-size: 24px;
            font-weight: bold;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .card__group {
            font-size: 1.2em;
        }
        .card__btns {
            display: flex;
            .card__btn {
                font-family: 'Roboto';
                border: 0;
                border-radius: 10px;
            }
            .card__delete {
                width: 30px;
                height: 100%;
                background: none;
                padding: 0px;
            }
            .card__change {
                background: rgb(81, 206, 81);
            }
        }
    }
   
}
 

@media (max-width:376px) {
    .card {
        width: 90%;
        
    }
    .card__info {
        padding: 10px;
    }
    .card__title {
        font-size: 18px;
    }
}